* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'); */
body {
    font-family: 'Noto Serif', serif;
    height: 100vh;
}
.header {
    height: 130px;
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    padding: 10px;
}
.header__img {
    height: 100%;
    width: 100px;
}
.header__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header__content {
    padding: 0 10px;
    height: 100%;
}
.header__content h2 {
    font-size: 1.3rem;
}
.header-content-action {
    width: 100%;
    margin-top: 20px;
}
.header-content-action button {
    width: 50px;
    height: 38px;
    margin: 0 10px;
    display: inline-block;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: .25rem;
    outline: none;
    transition: 0.3s;
}
button.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
button.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.header-content-action button:active {
    opacity: 0.6;
    transform: scale(1.2);
}